<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title><%= page.title %> - <%= theme.site_title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (page.layout === 'post') { %>
    <link rel="stylesheet" href="/css/post.css">
  <% } %>
</head>


<body class="<%= page.layout === 'post' ? 'post-page' : '' %>">

  <%- partial('_partial/header') %>

  <main class="container">
    <aside class="toc">
      <%- toc(page.content) %>
    </aside>
    <section class="content">
      <%- page.content %>
    </section>
  </main>

  <%- partial('_partial/footer') %>
</body>
<script src="/js/post.js"></script>
</html>
